.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.page-header .brand {
  display: flex;
  align-items: center;
}

.page-header .username {
  flex: 1;
  font-size: 25px;
  font-weight: bold;
  color: #244391;
  margin-right: 30px;
}


.page-header .brand img {
  max-height: 70px;
}

.page-header .buttons {
  display: flex;
  align-items: center;
}

.page-header .headerbottom {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5378d3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.page-header .headerbottom:hover {
  background-color: #4562a0;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.container h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 20px;
}

.container a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.links a.button:hover {
  background-color: #45a049;
}