<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/main_index.css') }}">
</head>

<body>

  <header class="page-header">
    <div class="brand">
      <a href="{{ url_for('home') }}"><img src="static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png" alt="brand"></a>
    </div>
    <div class="buttons">
      <a href="{{ url_for('login') }}" class="headerbottom">Вход</a>
      <a href="{{ url_for('admin') }}" class="headerbottom">Администратор</a>
    </div>
  </header>


  <main class="page-main">
    <div class="container">
      <h1>Добро пожаловать на стартовую страницу оценки эффективности работы сотрудников.</h1>
      <p>Для оценки эффективности работы сотрудников, пожалуйста, пройдите авторизацию, нажав кнопку "Вход".</p>
      <p>Не забудьте выполнить деавторизацию перед завершением работы.</p>
  </div>
  </main>
</body>

</html>