<!DOCTYPE html>
<html>

<head>
  <title>Rating menu</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_dashboard/main_dashboard.css') }}">
</head>

<body>
  <header class="page-header">
    <div class="brand">
      <a href="{{ url_for('dashboard_admin') }}"><img src="../static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png"
          alt="brand"></a>
      <a href="{{ url_for('head_statistic', head_id=head_id) }}" class="headerbottom">Список оцениваемых</a>
      <a href="{{ url_for('head_statistic_to_rate', head_id=head_id) }}" class="headerbottom">Предстоит оценить</a>
      <a href="{{ url_for('head_statistic_rated', head_id=head_id) }}" class="headerbottom">Уже оценены</a>
    </div>
    <div class="buttons">
      <div class="username">{{ username }}</div>
      <a href="{{ url_for('dashboard_admin', head_id=head_id) }}" class="headerbottom">Меню</a>
      <a href="{{ url_for('logout') }}" class="headerbottom">Деавторизация</a>
    </div>
  </header>

  <main class="form-container">
    <div class="CollegList">
      <h1>List of Colleagues</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>ФИО Сотрудника</th>
            <th>Отдел</th>
            <th>Должность</th>
          </tr>
        </thead>
        <tbody>
          {% for colleague in colleagues_list %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ colleague[1] }}</td>
            <td>{{ colleague[3] }}</td>
            <td>{{ colleague[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>