<!DOCTYPE html>
<html>

<head>
    <title>Change password menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='main_administration/dashboard_main_heads.css') }}">
</head>

<body>
    <header class="page-header">
        <div class="brand">
            <a href="{{ url_for('dashboard_admin') }}"><img
                    src="../static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png" alt="brand"></a>
        </div>
        <div class="buttons">
            <a href="{{ url_for('dashboard_admin', head_id=head_id) }}" class="headerbottom">Меню</a>
            <a href="{{ url_for('logout') }}" class="headerbottom">Деавторизация</a>
        </div>
    </header>

    <main class="form-container">
        <div class="CollegList">
            <h1>Статистика по руководителям отделов</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Табельный номер сотрудника</th>
                        <th>ФИО Сотрудника</th>
                        <th>Сменить пароль</th>
                        <th style="text-align: center;">Временный пароль, сообщите его сотруднику</th>
                    </tr>
                </thead>
                <tbody>
                    {% for head in print_info %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ head[0] }}</td>
                        <td>{{ head[1] }}</td>
                        <td>
                            <form method="post" action="{{ url_for('admin_menu_change_password') }}">
                              <input type="hidden" name="head_id" value="{{ head[0]}}">
                              <input type="submit" name = 'password_change' value="Сменить пароль сотруднику">
                            </form>    
                        </td>
                        <td style="text-align: center;">
                            {% if head_id_current == head[0] %}
                                {{ password }}
                            {% endif %} 
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>