<!DOCTYPE html>
<html>

<head>
    <title>Rating menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='main_administration/main_administration.css') }}">
</head>

<body>
    <header class="page-header">
        <div class="brand">
            <a><img src="static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png" alt="brand"></a>
        </div>
        <div class="buttons">
            <a href="{{ url_for('logout') }}" class="headerbottom">Logout</a>
        </div>
    </header>

    <main class="form-container">
        <div class="content-container">

            <div class="button-container">
                <a class="square-button" href="{{ url_for('dashboard_main_heads') }}">1. Статистика по оценкам</a>
                <a class="square-button" href="{{ url_for('create_report') }}">2. Сформировать отчет </a>
                <a class="square-button" href="{{ url_for('admin_rate_access') }}">3. Статус оценивания </a>
                <a class="square-button" href="{{ url_for('admin_menu_change_password') }}">4. Сменить пароль </a>
                <a class="square-button" href="{{ url_for('admin_criteria') }}">5. Администрирование критериев </a>
                <a class="square-button">Button 3</a>
            </div>

            <div class="sidebar">

            </div>
        </div>
    </main>
</body>

</html>