.page-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0);
}


.content-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  height: 100%;
  margin: 0; /* Remove default margin */
}

.form-container h1 {
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 10px;
    padding: 5px;
}

.content-container {
    display: flex;
    height: 100%;
}
.button-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Add padding to the buttons container */
}

.square-button {
  margin: 5px 0; /* Adjust margins */
  width: 100%; /* Full width of the container */
  height: 100px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.square-button:hover {
    margin: 5px 0;
    width: 98%;
    height: 100px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.date-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .date-input label {
    margin-right: 10px;
    font-size: 20px;
    margin-left: 30px;
    text-align: right;
    font-weight: bold;
  }
  
  .date-input input[type="date"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
  }

  .department-list label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    margin-left: 30px;
  }



.CollegList .view-rating-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50; 
    font-size: 20px;
    color: #fff; 
    text-decoration: none; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
  }
  
  .CollegList .view-rating-btn:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: #45a049;
  }
  
  .view-rating-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50; 
    font-size: 20px;
    color: #fff; 
    text-decoration: none; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
  }

  .view-rating-btn:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: #45a049;
  }

/* Your existing styles... */

.sidebar {
  width: 50%;
  height: 100%;
  margin-left: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.sidebar-image-container {
  max-width: 98%; /* Adjust to match the button width */
  text-align: center;
}

.sidebar-image {
  width: 100%; /* Make the image fill the container */
  height: auto;
  display: inline-block;
}

/* Your existing styles... */
