<!DOCTYPE html>
<html>

<head>
  <title>Rate access page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_administration/dashboard_main_heads.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_administration/main_administration.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_administration/additional.css') }}">
</head>

<body>
  <header class="page-header">
    <div class="brand">
      <a href="{{ url_for('dashboard', head_id=head_id) }}"><img
          src="../static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png" alt="brand"></a>
    </div>
    <div class="buttons">
      <div class="username">{{ username }}</div>
      {% if check_password_status %}
      <a href="{{ url_for('change_password', head_id=head_id) }}" class="headerbottom">Смена пароля</a>
      {% endif %}
      <a href="{{ url_for('dashboard_admin') }}" class="headerbottom">Меню</a>
      <a href="{{ url_for('logout') }}" class="headerbottom">Деавторизация</a>
    </div>
  </header>

  <main class="form-container">
    <div class="CollegList">
      <h1>Текущие оценки:</h1>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>ФИО Руководителя</th>
            <th>ФИО Сотрудника</th>
            <th>Оценка</th>
            <th>Удалить оценку</th>
          </tr>
        </thead>
        <tbody>
          {% for rate in rate_list %}
          <tr>
            
            <td>{{ loop.index }}</td>
            <td>{{ rate.headname }}</td>
            <td>{{ rate.username }}</td>
            <td>
                <a href="{{ url_for('page_access_colleague_page', head_id=rate.head_id, colleague_id = rate.user_id) }}" class="view-rating-btn">Посмотреть оценку</a>
              </td>
            <td>
              <form method="post" action="{{ url_for('admin_rate_access') }}">
                <input type="hidden" name="head_id_del" value="{{ rate.head_id }}">
                <input type="hidden" name="user_id_del" value="{{ rate.user_id }}">
                <input type="submit" style="width:350px" name = 'del_ratle' class="delete-rate" value="Удалить последнюю оценку">
              </form>    
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form method="post" action="{{ url_for('admin_rate_access') }}">
        <input type="submit" name="del_all" class="delete-all" value="Удалить все оценки">
      </form>
      <form method="post" action="{{ url_for('admin_rate_access') }}">
        <input type="submit" name="reset_all" class="delete-all" value="Сбрросить все статусы голосования">
      </form>
    </div>
  </main>
</body>

</html>