<!DOCTYPE html>
<html>

<head>
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/main_login.css') }}">
</head>

<body>
    <header class="page-header">
        <div class="brand">
            <a href="{{ url_for('home') }}"><img src="../static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png"
                    alt="brand"></a>
        </div>
        <div class="buttons">
            <a href="{{ url_for('login') }}" class="headerbottom">Вход</a>
        </div>
    </header>

    <main class="form-container">
        <h1>Смена пароля</h1>
        <form action="{{ url_for('change_password', head_id = head_id) }}" method="POST">
            
            <input type="password" name="password_new" placeholder="Новый пароль"><br>
            <input type="password" name="password_new_again" placeholder="Повторение пароля"><br>
            <input type="submit" class="square-button" value="Подтвердить изменение пароля">
            {% for cat, msg in get_flashed_messages(True) %}
            <div class='status-message_{{cat}}'>{{msg}}</div>
            {% endfor %}
        </form>
    </main>
</body>

</html>