<!DOCTYPE html>
<html>
<head>
    <title>Rating menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_dashboard/colleague_page.css') }}">
</head>
<body>
    <header class="page-header">
        <div class="brand">
            <a href="{{ url_for('home') }}"><img src="../static/images/1hfxk63e2gf3l47fxj3c2rnvvogk38xp.png" alt="brand"></a>
        </div>
        <div class="buttons">
            <div class="username">Оцениваемый: {{ userinfo.full_name }}</div>
            <div class="username">Отдел: {{ userinfo.department }}</div>
            <div class="username">Должность: {{ userinfo.department_position }}</div>
            <a href="{{ url_for('dashboard') }}" class="headerbottom">Список оцениваемых</a>
            <a href="{{ url_for('logout') }}" class="headerbottom" >Деавторизация</a>
        </div>
    </header>

    <main class="form-container">
        <form  action="{{ url_for('colleague_page', colleague_num=userinfo.employee_record_card) }}" method="post" >
            <table>
                <thead>
                    <tr>
                        <th>Критерий</th>
                        <th>Описание</th>
                        <th>Дата оценивания</th>
                        <th>Шкала</th>
                        <th>Оценка сотрудника</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, criterion in enumerated_criterias %}
                    <tr>
                        <td>{{ criterion }}</td>
                        <td>{{ description_list[index] }}</td>
                        <td>{{ date }}</td>
                        <td>0-150</td>
                        <td>
                            <input type="number" min="0" max="150" step="1" id="v_{{ index }}" name="v_{{ index }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="status-message_{{ status }}">
                {{ status_msg }}
            </div>
            <button class="submit-button" type="submit" name="submit_button"> Подтвердить </button>
        </form>
    </main>
</body>
</html>
